<div class="selector">
  <div class="randomiser">
    <button (click)="randomise()">Randomise</button>
  </div>
  <div class="chkbox">
    <input type="checkbox" name="bruh" id="check" [(ngModel)]="locked">
  </div>
  <label for="effect-selector">
    {{id === 0 ? "Blossom " : id === 1 ? "Cap " : id === 2 ? "Stalk " : id === 3 ? "" : "Invalid"}}
    Color
    <br />
    <select [(ngModel)]="colorSelector" class="sSelector" (change)="onChange()">
      <option *ngFor="let color of colors" [value]="color">
        {{color}}
      </option>
    </select>
  </label>
</div>
