<div class="main">
  <div class="desc">
    <h1>Description</h1>
  </div>
  <div class="table">
    <div class="tc">
      <div class="tr"><b>Name</b></div>
      <div class="tr"><b>Type</b></div>
      <div *ngIf="type === 'M' || type === 'F'">
        <div class="tr"><b>Effect</b></div>

        <div class="space">
          <div class="tr"><b>Color</b></div>
          <div *ngIf="type === 'M'">
            <div class="tr indent"><b>Cap</b></div>
            <div class="tr indent"><b>Stem</b></div>
          </div>
          <div class="tr indent" *ngIf="type === 'F'"><b>Blossom</b></div>
        </div>

        <div class="space">
          <div class="tr"><b>Size</b></div>
          <div class="tr indent"><b>Stem</b></div>
          <div class="tr doubleindent"><b>Thickness</b></div>
          <div class="tr doubleindent"><b>Length</b></div>
          <div *ngIf="type === 'M'">
            <div class="tr indent"><b>Cap</b></div>
            <div class="tr doubleindent"><b>Thickness</b></div>
            <div class="tr doubleindent"><b>Width</b></div>
          </div>
          <div *ngIf="type === 'F'">
            <div class="tr indent"><b>Blossom</b></div>
            <div class="tr doubleindent"><b>Width</b></div>
          </div>
        </div>

      </div>
    </div>
    <div class="tc">
      <div class="tr"></div>
      <div class="tr">{{type | typeToString}}</div>
      <div class="tr" *ngIf="(effect$ | async) as effect">{{effect.effect}}</div>
      <div *ngIf="type === 'M' || type === 'F'">

        <div class="space">
          <div class="tr"></div>
          <div class="tr" *ngIf="type === 'F'">
            <div *ngIf="(colors$[0] | async) as color">{{color}}</div>
          </div>
          <div *ngIf="type === 'M'">
            <div class="tr" *ngFor="let n of [1,2]">
              <div *ngIf="(colors$[n] | async) as color">{{color}}</div>
            </div>
          </div>
        </div>

        <div class="space">
          <div class="tr" *ngIf="(size$ | async) as size">{{size | sizeToString}}</div>

          <div class="tr"></div>
          <div *ngFor="let n of [0,1]" class="tr">
            <div *ngIf="(sizes$[n] | async) as size">
              {{size | numToInch}}
            </div>
          </div>

          <div *ngIf="type === 'M'">
            <div class="tr"></div>
            <div *ngFor="let n of [2,3]" class="tr">
              <div *ngIf="(sizes$[n] | async) as size">
                {{size | numToInch}}
              </div>
            </div>
          </div>

          <div *ngIf="type === 'F'">
            <div class="tr"></div>
            <div class="tr" *ngIf="(sizes$[2] | async) as size">{{size | numToInch}}</div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
