<div class="selector">
  <div class="randomiser">
    <button (click)="randomise()">Randomise</button>
  </div>
  <div class="chkbox">
    <input type="checkbox" name="bruh" id="check" [(ngModel)]="locked">
  </div>
  <div class="efc-sel">
    <div class="min">
      <label for="effect-selector">Range - Min<br />
        <select [(ngModel)]="minSelected" class="sSelector" (change)="onChange(0)">
          <option *ngFor="let measurement of minMeasurements" [value]="measurement">
            {{measurement | sizeToString}}
          </option>
        </select>
      </label>
    </div>
  </div>
</div>
