<div class="header">
  Fantasy Flora Generator
</div>
<div class="main">
  <div class="left">
    <div class="bigrandom">
      <button (click)="RandomAll()"
        [disabled]="(type$ | async) === 'O' || ((type$|async) === 'R' && !(subType$ | async))">Randomise All</button>
      <div class="comment">Select Type First</div>
    </div>
    <app-type-selector> </app-type-selector>
    <div *ngIf="(type$ | async) as type">

      <div *ngIf="type === 'R'">
        <div class="br"></div>
        <app-subtype-selector></app-subtype-selector>
      </div>

      <div [hidden]="type == 'O' || (type === 'R' && !(subType$ | async))">
        <div class="toprow">LOCKED</div>

        <app-effect-selector> </app-effect-selector>
        <div class="br"></div>

        <div *ngIf="type === 'F'">
          <app-color-selector [id]="0"></app-color-selector>
          <div class="br"></div>
        </div>

        <div *ngIf="type === 'M'">
          <app-color-selector [id]="1"></app-color-selector>
          <div class="br"></div>

          <app-color-selector [id]="2"></app-color-selector>
          <div class="br"></div>
        </div>

        <div *ngIf="type === 'R'">
          <app-color-selector [id]="3"></app-color-selector>
          <div class="br"></div>
        </div>

        <app-size-selector></app-size-selector>
        <div class="br"></div>
        <div *ngIf="(size$ | async) as size">
          <app-sizes-selectors *ngIf="!(subType$ | async)" [size]="size"></app-sizes-selectors>
          <app-sizes-selectors *ngIf="(subType$ | async) as subType" [subType]="subType" [size]="size">
          </app-sizes-selectors>
        </div>
      </div>
    </div>
    <div class="save">
      <button *ngIf="(type$| async) === 'F' && (effect$ | async) as effect" [disabled]="
        effect.effect === '' ||
        (colors$[0] | async) === '' ||
        (size$ | async) === ''||
        (sizes$[0] | async) === 0 ||
        (sizes$[1] | async) === 0 ||
        (sizes$[2] | async) === 0
      " (click)="OnSave({
        type: type$,
        effect: effect,
        color: colors$,
        size: size$,
        sizes: sizes$
      })">Save</button>
      <button *ngIf="(type$| async) === 'M' && (effect$ | async) as effect" [disabled]="
        effect.effect === '' ||
        (colors$[1] | async) === '' ||
        (colors$[2] | async) === '' ||
        (size$ | async) === '' ||
        (sizes$[0] | async) === 0 ||
        (sizes$[1] | async) === 0 ||
        (sizes$[2] | async) === 0 ||
        (sizes$[3] | async) === 0
      " (click)="OnSave({
        type: type$,
        effect: effect,
        color: colors$,
        size: size$,
        sizes: sizes$
      })">Save</button>
      <!-- COLORS$[0] IS CAUSING ISSUES!!!!< -->
      <button *ngIf="(type$| async) === 'R' && (effect$ | async) as effect" [disabled]="
        (subType$ | async) === '' ||
        effect.effect === ''||
        (colors$[3] | async) === ''||
        (size$ | async) === '' ||
        (sizes$[0] | async) === 0 ||
        (sizes$[1] | async) === 0
      " (click)="OnSave({
        type: type$,
        subType: subType$,
        effect: effect,
        color: colors$,
        size: size$,
        sizes: sizes$
      })">Save</button>
    </div>
  </div>
  <div class="name">
    <app-name-selector></app-name-selector>
  </div>
  <div class="desc" *ngIf="(type$ | async) as type">
    <app-side [type]="type"></app-side>
  </div>
</div>
