<div class="header">
  Fantasy Flora Generator
</div>
<div class="main">
  <div class="left">
    <div class="bigrandom">
      <button (click)="RandomAll()" [disabled]="(type$ | async) === 'O'">Randomise All</button>
      <div class="comment">Select Type First</div>
    </div>
    <app-type-selector> </app-type-selector>
    <div class="toprow">LOCKED</div>
    <div *ngIf="(type$ | async) as type">
      <div [hidden]="type == 'O'"ö>
        <app-effect-selector> </app-effect-selector>
        <div class="br"></div>
        <!-- flower -->
        <div *ngIf="type === 'F'">
          <app-color-selector [id]="0"></app-color-selector>
          <div class="br"></div>
        </div>
        <!-- shroom -->
        <div *ngIf="type === 'M'">
          <app-color-selector [id]="1"></app-color-selector>
          <div class="br"></div>
          <app-color-selector [id]="2"></app-color-selector>
          <div class="br"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="desc">
    <app-side></app-side>
  </div>
</div>
