<div class="header">
  Fantasy Flora Generator
</div>
<div class="main">
  <div class="left">
    <div class="bigrandom">
      <button (click)="RandomAll()" [disabled]="(type$ | async) === 'O'">Randomise All</button>
      <div class="comment">Select Type First</div>
    </div>
    <app-type-selector> </app-type-selector>
    <div *ngIf="(type$ | async) as type">
      <div [hidden]="type == 'O'">
        <div class="toprow">LOCKED</div>

        <app-effect-selector> </app-effect-selector>
        <div class="br"></div>

        <div *ngIf="type === 'F'">
          <app-color-selector [id]="0"></app-color-selector>
          <div class="br"></div>
        </div>

        <div *ngIf="type === 'M'">
          <app-color-selector [id]="1"></app-color-selector>
          <div class="br"></div>

          <app-color-selector [id]="2"></app-color-selector>
          <div class="br"></div>

        </div>

        <app-size-selector></app-size-selector>
        <div class="br"></div>
        <app-sizes-selectors *ngIf="(size$ | async) as size" [size]="size"></app-sizes-selectors>
      </div>
    </div>
  </div>
  <div class="desc" *ngIf="(type$ | async) as type">
    <app-side [type]="type"></app-side>
  </div>
</div>
